.bg-clicked{
  background-color: #2b5e7c !important;
  color : #e9f0f0;
}
.bg-unclicked{
    background-color: white;
}
.bg-mouseover{
  background-color: #97b1c1;

}
.bg-mouseout{
  background-color: #eff3f6;

}
.table td {

        padding-top: 0.50rem;
        padding-right: 0.75rem;
        padding-bottom: 0.50rem;
        padding-left: 0.75rem;
        vertical-align: baseline;
}
.table-head {

    margin-bottom: 0 !important;

}
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.theader{
    background-color: #eff3f6;

}


.editForm{
  	background:  #ffffff ;

}
.editForm td{
  padding-top: 0.50rem;
  padding-right: 0.75rem;
  padding-bottom: 0.50rem;
  padding-left: 0.75rem;
  vertical-align: baseline;
}

.hoverTable{
		width:100%;
		border-collapse:collapse;
	}
	.hoverTable td{
		padding:7px; border:#333 1px solid;
	}
	/* Define the default color for all the table rows */
	.hoverTable tr{
		background:  #f8f9f9 ;
	}
	/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
          background-color:  #eaecee;
}
.formInput{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    padding: .3em;
    border: 1px solid #ddd;
}
